src/main/mule/impl/impl-redis-brand-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-redis-brand-flow" doc:id="de072993-872c-4d0f-ac57-51dd3ead9d16" >
		<set-variable value="#['bridge-' ++ attributes.uriParams.'prefix']" doc:name="Set Redis Cache Key" doc:id="649434ed-f0a3-423a-bd12-8b1d2c3589d5" variableName="redis-key"/>
		<flow-ref doc:name="get-redis-cache" doc:id="cdd05ae3-464b-46cf-a86a-f47d57d06384" name="get-redis-cache"/>
		<choice doc:name="Choice" doc:id="6b936c47-7da7-4cda-8d9b-da0021d6a7de" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="e7db7c62-7c05-42e3-bf55-5749819faf58" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var result = read(payload,'application/json')
---
{
  "x-event-code": 1005,
  "x-event-msg": "Success",
  "Results":{
      "brand-id": result.'brand-id',
      "brand-name":  result.'brand-name',
  }
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="e60431a5-7206-4a8e-b3e3-fe224b18ef75" />
			</otherwise>
		</choice>
	</flow>
	<flow name="post-redis-brand-flow" doc:id="52457c54-4ba0-40d1-b6b7-a1ef9df601de" >
		<ee:transform doc:name="Transform Message" doc:id="82e05627-ff50-4ef2-b837-fce53807c09b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="redis-key" ><![CDATA['bridge-' ++ payload.prefix]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-redis-cache" doc:id="3348da45-6c12-4998-bfed-bf97b4de97e9" name="set-redis-cache" />
		<choice doc:name="Choice" doc:id="900c282a-2e54-4acf-8712-99b8336378b5" >
			<when expression="#[payload == 'OK']" >
				<ee:transform doc:name="Transform Message" doc:id="08f38691-cf56-436c-8e97-8d6765865e29" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
 "x-event-code": 1002,
 "x-event-msg": "Cache Bridge Successful!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="674e065b-482b-4baf-ac15-09a0dcd3fe12" />
			</otherwise>
		</choice>
	</flow>

</mule>
