src/main/mule/impl/impl-redis-cache-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="get-redis-cache-flow"
		doc:id="7b6e8c05-697b-44e3-8661-c5735c1c5fa0">
		<flow-ref doc:name="get-redis-cache-subflow"
			doc:id="887d86b8-bf5b-47f3-9228-52a5578660f6"
			name="get-redis-cache-subflow" />
		<choice doc:name="Check Redis Response Present?"
			doc:id="c97238b6-1a84-4eaf-9006-79c093b85817">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Redis Response to API Response"
					doc:id="6ac1b978-e34d-4518-b4ea-94315fa41eb7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
var result = read(payload,'application/json')
---
{
  "x-event-code": 1005,
  "x-event-msg": "Success",
  "results": result
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					doc:name="Redis Response to API Response (No Key Found)"
					doc:id="86240edc-45c5-4591-abf8-03312c1553de">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  "x-event-code": 1005,
  "x-event-msg": "Success",
  "results": payload default ""
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="sys-redis-api_Shared_Error_Handler" />


	</flow>

	<flow name="create-update-redis-cache-flow"
		doc:id="125d5e40-7662-4b46-97e8-dc2cf16635f1">
		<flow-ref doc:name="set-redis-cache-subflow"
			doc:id="9601088d-6370-455a-856a-2cf95519fcec"
			name="set-redis-cache-subflow" />
		<choice doc:name="Choice"
			doc:id="53d30754-567a-4e1f-9aa3-47cc701bef8b">
			<when expression="#[payload == 'OK']">
				<ee:transform
					doc:name="Redis Response to API Response(Success)"
					doc:id="5bee3877-036e-40a5-bf85-03922a24a29c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
 "x-event-code": 1002,
 "x-event-msg": "Cache Successful!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					doc:name="Redis Response to API Response(Unsuccess)"
					doc:id="6cb4c85a-312e-453b-8cf8-133b39ba7381">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
 "x-event-code": 1002,
 "x-event-msg": "Cache Unsuccessful!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="sys-redis-api_Shared_Error_Handler" />
	</flow>


</mule>
