src/main/mule/imp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<redis:redis-config name="Redis_Redis" doc:name="Redis Redis" doc:id="9bbacb5a-3015-4d8b-b62c-9a30e8783a12" >
		<redis:nonclustered-connection host="redis-12613.c292.ap-southeast-1-1.ec2.redns.redis-cloud.com" port="12613" password="Kzh6vCaj09I8FCbO9t5engeAONe3OkOy" />
	</redis:redis-config>
	<flow name="set-redis-cache" doc:id="7fd52b60-0cb4-433a-b6c4-0c4978e38b43" >
		<redis:set doc:name="Set" doc:id="2bedc43a-3c8c-4801-8914-6a5028865c86" config-ref="Redis_Redis" key="#[vars.'redis-key']">
			<redis:value ><![CDATA[#[%dw 2.0
output application/java
---
write(payload, "application/json")]]]></redis:value>
		</redis:set>
	</flow>
	<flow name="get-redis-cache" doc:id="0723e283-7c31-4c17-b5d2-a43fc67a4a71" >
		<redis:get doc:name="Get" doc:id="b9db12b8-797d-47c1-af9d-74a680bb42d9" config-ref="Redis_Redis" key="#[vars.'redis-key']"/>
	</flow>
</mule>
