src/main/mule/sys-redis-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

	<flow name="sys-redis-api-main"
		doc:id="9ffed417-ea35-46af-9886-e0128dd798f6">
		<http:listener
			config-ref="HTTP_Listener_Config_sys_redis_api"
			path="${app.path.basepath}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="sys-redis-api-config" />
		<error-handler ref="sys-redis-api_APIKIT_Error_Handler" />
	</flow>
	<flow
		name="put:\state\(msisdn):application\json:sys-redis-api-config"
		doc:id="57258c8d-612e-41da-ab34-ec8be24018ef">
		<logger level="INFO" doc:name="START - PUT /state/{msisdn}"
			doc:id="3f4e0b6c-dc9c-492d-8e14-4af87ecebc40"
			message='#["[START] - PUT /state/{msisdn} [msisdn:" ++ attributes.uriParams.msisdn ++"]"]' />
		<flow-ref doc:name="impl-put-redis-state-flow"
			doc:id="d89a55e1-3393-49ff-8ea8-ad32d8f067c0"
			name="impl-put-redis-state-flow" />
		<logger level="INFO" doc:name="END - PUT /state/{msisdn}"
			doc:id="8722aed7-da6b-4901-a9d4-3ec1097171e9"
			message='#["[END] - PUT /state/{msisdn} [result: " ++ payload."x-event-msg" ++ "]"]' />
	</flow>
	<flow name="get:\state\(msisdn):sys-redis-api-config"
		doc:id="27459a2c-27d9-49ed-9b58-75d91af21dd1">
		<logger level="INFO" doc:name="START - GET /state/{msisdn}"
			doc:id="a4ada2af-ce8b-4f28-969e-352bcd2f9a5b"
			message='#["[START] - GET /state/{msisdn} [msisdn:" ++ attributes.uriParams.msisdn ++"]"]' />
		<flow-ref doc:name="impl-get-redis-state-flow"
			doc:id="b8b48081-04a9-4d52-96f2-d84a24020ae8"
			name="impl-get-redis-state-flow" />
		<logger level="INFO" doc:name="END - GET /state/{msisdn}"
			doc:id="2ffc0581-9f52-4c4c-bb19-0d2961fdf2be"
			message='#["[END] -  GET /state/{msisdn} [state: " ++ payload.result.state ++ "]"]' />
	</flow>
	<flow name="get:\brand\(prefix):sys-redis-api-config"
		doc:id="c270d9b6-34a6-467c-9f5d-b5eefcda1f47">
		<logger level="INFO" doc:name="START - GET /brand/{prefix}"
			doc:id="293cbeae-b5f3-4416-87e7-3e427ca33888"
			message='#["[START] - GET /brand/{prefix} " ++ write(payload, "application/json")]' />
		<flow-ref doc:name="impl-get-redis-brand-flow"
			doc:id="f1dce388-f774-422e-8ebd-4cbc996adf84"
			name="impl-get-redis-brand-flow" />
		<logger level="INFO" doc:name="END - GET /brand/{prefix}"
			doc:id="2a7f1529-e659-4ce4-8ab4-e4fcd3f8ca82"
			message='#["[END] -  GET /brand/{prefix} [payload: " ++ write(payload.result, "application/json") ++ "]"]' />
	</flow>
	<flow name="post:\brand:application\json:sys-redis-api-config"
		doc:id="2ce07207-ff78-4557-991e-a4721fe20d6d">
		<logger level="INFO" doc:name="START - POST /brand"
			doc:id="1cdddd0d-da0f-4155-9059-4ac38d3807ad"
			message='#["[START] - GET /brand/{prefix} [payload: " ++ write(payload, "application/json") ++ "]"]' />
		<flow-ref doc:name="impl-post-redis-brand-flow"
			doc:id="fceb4e78-3ca2-41d3-b6b4-77a532756af7"
			name="impl-post-redis-brand-flow" />
		<logger level="INFO" doc:name="END - POST /brand"
			doc:id="01aa6a21-386b-4133-af53-9a36b4d3b3dc"
			message='#["[END] - POST /brand [result: " ++ payload."x-event-msg" ++ "]"]' />
	</flow>
</mule>
