src/main/mule/sys-redis-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sys-redis-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sys-redis-api-config" api="resource::19504067-e1e3-45dd-943a-e163098ddbed:sys-redis-api:1.0.4:raml:zip:sys-redis-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sys-redis-api-main">
        <http:listener config-ref="sys-redis-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sys-redis-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\redis\state\(msisdn):application\json:sys-redis-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="8722aed7-da6b-4901-a9d4-3ec1097171e9" message="Start" />
		<flow-ref doc:name="Flow Reference" doc:id="d89a55e1-3393-49ff-8ea8-ad32d8f067c0" name="put-redis-state-flow" />
		<logger level="INFO" doc:name="Logger1" doc:id="3f4e0b6c-dc9c-492d-8e14-4af87ecebc40" message="End" />
    </flow>
    <flow name="get:\redis\state\(msisdn):sys-redis-api-config">
		<logger level="INFO" doc:name="Logger1" doc:id="a4ada2af-ce8b-4f28-969e-352bcd2f9a5b" message="Start" />
		<flow-ref doc:name="Flow Reference" doc:id="b8b48081-04a9-4d52-96f2-d84a24020ae8" name="get-redis-state-flow" />
		<logger level="INFO" doc:name="Logger" doc:id="2ffc0581-9f52-4c4c-bb19-0d2961fdf2be" message="End" />
    </flow>
    <flow name="get:\redis\brand\(prefix):sys-redis-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="293cbeae-b5f3-4416-87e7-3e427ca33888" message="Start"/>
		<flow-ref doc:name="get-redis-brand-flow" doc:id="f1dce388-f774-422e-8ebd-4cbc996adf84" name="get-redis-brand-flow" />
		<logger level="INFO" doc:name="Logger" doc:id="2a7f1529-e659-4ce4-8ab4-e4fcd3f8ca82" message="End"/>
    </flow>
    <flow name="post:\redis\brand:application\json:sys-redis-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="1cdddd0d-da0f-4155-9059-4ac38d3807ad" message="Start" />
		<flow-ref doc:name="post-redis-brand-flow" doc:id="fceb4e78-3ca2-41d3-b6b4-77a532756af7" name="post-redis-brand-flow" />
		<logger level="INFO" doc:name="Logger1" doc:id="01aa6a21-386b-4133-af53-9a36b4d3b3dc" message="End" />
    </flow>
</mule>
